.img-square {
  min-width: 300px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.img-wide {
  min-width: 500px;
  width: 100%;
  max-width: 600px;
  height: 300px;
  object-fit: cover;
}

.img-tall {
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  height: 300px;
  object-fit: contain;
  background-color: #292929;
}

@media only screen and (max-width: 600px) {
  .img-wide {
    min-width: 300px;
  }
}
