#root {
  margin: 0 auto;
  background-color: #fffef0;
  min-height: 100vh;
  font-family: "Winky Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  scrollbar-gutter: stable;
}
